################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TheWorld/bin/Debug/netcoreapp1.0
/TheWorld/obj/Debug/netcoreapp1.0
/TheWorld/project.lock.json
lib
*.suo
